.expense_item_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: black;
    padding: 0.5rem;
    margin: 0.5rem;
    
  
    background-color: #e7c4c4;
  }
  
  .expense_item_description {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center; /* Updated to center */
    flex: 1;
    gap: 5rem; /* Adjusted gap */
  }
  .expense_item_price {
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 1;
    gap: 60rem;
  }